.pgaContainer{
  height: 100%;
}
.centered{
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.pgaTitleContainer{
  color: black;
}

.tournamentTitleContainer{
  color: black;
}

.selectionContainer{
  color: black;
}

.statsContainer{
  color: black;
}