@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

.App {
  text-align: center;
  background-color: #13262f;
}

html, body, #app, #app>div {
  height: 100%
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  width: 100vw;
}

.footer{
  height: 5vh;
  background-color: green;;
}